/*
Author: Zixuan Chen
Date: 9 November
File Name: styles.css
*/

/* CSS reset */
body, header, nav, main, footer, h1, div, img, ul {
        margin: 0;
        padding: 0;
        border: 0;
}
.round {
        border-radius: 8px;
}

header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #000;
        height: 245px;
}
header img {
        display: block;    
        margin: 0 auto;     
        max-width: 100%;   
        height: auto;     
        max-height: 120px;  
}

nav ul {
    display: flex;
    flex-wrap: nowrap;   
    gap: 5px;
}

nav li {
    list-style: none; 
}

.mobile-nav a {
    color: #fff;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    padding: 3%;
    display: block;
    white-space: nowrap;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#menu-links {
    display: none;              
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px 0;
}

#menu-links a {
    display: block;
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #eee;
}

nav {
        padding: 1%;
        margin-bottom: 1%;
}
nav ul { 
        list-style-type: none; 
        text-align: center; 
}
nav li { 
        font-size: 1.5em;
        font-family: 'Francois One', sans-serif;
        border-top: 1px solid #fff;
    }
nav li a { 
        display: block;
        color: #fff;
        text-align: center;
        padding: 0.5em 1em;
        text-decoration: none; 
}
.mobile {
        display: block;
}
.tablet-desktop {
        display: none;
}
body { 
        background-color: #000000;
} 
img {
        max-width: 100%;
        display: block; 
}
main {
        clear: left; 
        background-color: #fff;
        padding: 2%;
        font-size: 1.25em;
        font-family:'Roboto Slab', sans-serif;
}
.hours {
        margin-left: 10%;
}
.tel-link {
        background-color: #ffdde5;
        padding: 2%;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        border-radius: 5px;
}
.tel-link a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
}
.action {
        font-size: 1.35em;
        color: #ff0000;       
        font-weight: bold;
}
.tel-link {
        color: #1b3ea8;
        text-decoration: none;
        font-weight: bold;
}
.tel-link:hover {
        color: #1b3ea8;
        text-decoration: underline;
}
#preventive, #restorative, #cosmetic {
        margin: 0 2%; 
}

@media screen and (min-width: 630px) { 
.mobile {
        display: none;
}
.tablet-desktop {
        display: block;
}
header {
        position: static;
        padding-bottom: 2%;
}

form {
    width: 70%;
    margin: 0 auto;
}


nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    border-top: 1px solid #fff;
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
}

nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
}

nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
}
nav li:last-child {
        border-right: none;
}
nav li a {
        padding: 0.1em 0.75em;
}
}

@media screen and (min-width: 769px) {

#exercises {
    clear: left;
}

#site-header {
        display: flex;
        
        align-items: center;
        width: 25%;          
    }
form {
    width: auto;
}
.form-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.btn {
    grid-column: 1 / span 3;
}

header {
        width: 25%;
        float: left;
        padding-bottom: 0;
}
nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
}
nav ul {
        text-align: right;
}
nav li {
        border: none;
}
nav li a {
        padding: 0.5em 1em;
}
main {
        clear: left;
}
main h1 {
        font-size: 1.8em;
}
#preventive, #restorative, #cosmetic 
{
        width: 29%;
        float: left;
        margin: 0 2%;
}
#maintenance{
        clear: left;
}
}

.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2em auto;
}

.about-card {
    background-color: #ffdde5;
    width: 28%;
    min-width: 240px;
    color: #000;
    padding: 1.2em;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}

.about-card img {
    width: 100%;
    border-radius: 8px;
    margin: 0.8em 0;
}

.about-card h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.about-big-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px;
    margin: 2em auto;
}

.about-big-card {
    background-color: #d1edff;;
    border-radius: 8px;
    padding: 2em;
    width: 92%;  
    box-sizing: border-box;
}

.about-big-card dt {
    font-family: 'Francois One', sans-serif;
    font-size: 1em;
    margin: 0 0 0.3em;
}

.about-big-card dd {
    margin-left: 0;
    margin-bottom: 1em;
    font-size: 0.8em;
    line-height: 1em;
}
.about-card ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.equip-container {
    display: flex;
    justify-content: center;  
    gap: 20px;                 
    margin-bottom: 20px;
    flex-wrap: nowrap;         
}

.equip {
    width: 30%;                
    max-width: 250px;          
    height: auto;             
}

.staff-container {
        display: flex;
        justify-content: center;     
        flex-wrap: wrap;             
        gap: 20px;     

}.staff-card {
    background-color: #ffdde5;
    width: 30%;
    min-width: 240px; 
    color: #000000;
    padding: 1em;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Francois One', sans-serif;
}

.staff-card p {
    font-family: 'Roboto Slab', serif;
}

#contact {               
        text-align: center;      
}

#contact a {
        color: #1b3ea8;   
        text-decoration: none;
}

#announcements {
        color: #ff0000;;   
        text-decoration: none;
        font-size: 0.5em;
        text-align: center; 
}
#form {
  margin-top: 2%;
  background-color: #f2f2f2;
  padding: 2%;
}

#form h2 {
  text-align: center;
}

fieldset, input, select, textarea {
  margin-bottom: 2%;
}

fieldset legend {
  font-weight: bold;
  font-size: 1em;
}

label {
  display: block;
  padding-top: 3%;
}

form #submit {
  margin: 0 auto;
  border: none;
  display: block;
  padding: 2%;
  background-color: #b3b3b3;
  font-size: 1em;
  border-radius: 10px;
}
.checkup-section {
    background: #f5f9ff;              
    padding: 25px 30px;                
    border-radius: 10px;            
    line-height: 1.6;                
    margin: 40px auto;                
    max-width: 850px;                
}


.checkup-section h3 {
    margin-top: 0;
    color: #1b3ea8;             
    font-size: 1.6rem;
    font-weight: 700;
}

.checkup-section p {
    margin-bottom: 15px;
    color: #333;                     
    font-size: 1rem;
}


footer p {
        font-size: 0.75em;
        text-align: center;
        color: #fff;
        padding: 0 1em;
}
footer p a {
        color: #fff; 
        text-decoration: none;
}