/*
Author: Zixuan Chen
Date: 9 November
File Name: styles.css
*/

/* CSS reset */
body, header, nav, main, footer, h1, div, img, ul {
        margin: 0;
        padding: 0;
        border: 0;
}
.round {
        border-radius: 8px;
}
nav {
        padding: 1%;
        margin-bottom: 1%;
}
nav ul { 
        list-style-type: none; 
        text-align: center; 
}
nav li { 
        font-size: 1.5em;
        font-family: 'Francois One', sans-serif;
        border-top: 1px solid #fff;
    }
nav li a { 
        display: block;
        color: #fff;
        text-align: center;
        padding: 0.5em 1em;
        text-decoration: none; 
}
.mobile {
        display: block;
}
.tablet-desktop {
        display: none;
}
body { 
        background-color: #000000;
} 
img {
        max-width: 100%;
        display: block; 
}
header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #000000;
        height: 200px;
}
header img {
       display: block;    
       margin: 0 auto;     
       max-width: 100%;   
       height: auto;     
       max-height: 120px;  
}
main {
        clear: left; 
        background-color: #fff;
        padding: 2%;
        font-size: 1.25em;
        font-family:'Roboto Slab', sans-serif;
}
.hours {
        margin-left: 10%;
}
.tel-link {
        background-color: #ffc7d4;
        padding: 2%;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        border-radius: 5px;
}
.tel-link a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
}
.action {
        font-size: 1.35em;
        color: #0077cc;       
        font-weight: bold;
}
.tel-link {
        color: #0077cc;
        text-decoration: none;
        font-weight: bold;
}
.tel-link:hover {
        color: #005fa3;
        text-decoration: underline;
}
#preventive, #restorative, #cosmetic {
        margin: 0 2%; 
}

@media screen and (min-width: 630px) { 
.mobile {
        display: none;
}
.tablet-desktop {
        display: block;
}
header {
        position: static;
        padding-bottom: 2%;
}
nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
}
nav li:last-child {
        border-right: none;
}
nav li a {
        padding: 0.1em 0.75em;
}
}

@media screen and (min-width: 769px) {
        header {
        width: 25%;
        float: left;
        padding-bottom: 0;
}
nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
}
nav ul {
        text-align: right;
}
nav li {
        border: none;
}
nav li a {
        padding: 0.5em 1em;
}
main {
        clear: left;
}
main h1 {
        font-size: 1.8em;
}
#preventive, #restorative, #cosmetic 
{
        width: 29%;
        float: left;
        margin: 0 2%;
}
#maintenance{
        clear: left;
}
}
.staff-container {
        display: flex;
        justify-content: center;     
        flex-wrap: wrap;             
        gap: 20px;                 
}
.staff-card {
        background-color: #ffc7d4;
        width: 22%;                   
        color: #013e70;
        padding: 1em;
        font-size: 14px;
        box-sizing: border-box;     
        border-radius: 8px;
}

#contact {               
        text-align: center;      
}

#contact a {
        color: #0077cc;;   
        text-decoration: none;
}

footer p {
        font-size: 0.75em;
        text-align: center;
        color: #fff;
        padding: 0 1em;
}
footer p a {
        color: #fff; 
        text-decoration: none;
}

